Q1. Try to print all prime number in between 1 to 1000

In [1]:
lower = int(input("Enter the lower limit"))
upper = int(input("Enter the upper limit"))

for i in range(lower , upper + 1):
    if i > 1:
        for j in range(2,i):
            if i % j == 0:
                break
        else:
            print(i , end = " ")

Enter the lower limit1
Enter the upper limit1000
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

Q2. Try to write a function which  is equivalent  to print function in python.

In [9]:
def print_function(n):
    return n

print_function("This is my print function")

'This is my print function'

Q3. Try to write a function which is a replica of list append, extend and pop function.

In [22]:
lst = [1,2,3,4]
def replica_append(n):
    n = str(n)
    n = list(n)
    final_lst = lst + n
    return final_lst

In [23]:
replica_append(5)

[1, 2, 3, 4, '5']

In [12]:
lst = [1,2,3,4]
def replica_extend(n):
    final_lst = lst
    for i in range(len(n)):
        ele = [n[i]]
        final_lst = final_lst + ele
        
    print(final_lst)
    
replica_extend([1,2,3,4])

[1, 2, 3, 4, 1, 2, 3, 4]

In [17]:
def replica_pop(lst):
    final_lst = []
    for i in range(len(lst)-1):
        ele = [lst[i]]
        final_lst = final_lst + ele
        
    print(final_lst)

replica_pop([1,2,3,4,5])

[1, 2, 3, 4]

Q4. Try to write a lambda function which can return a concatenation of all the string that we will pass.

In [28]:
from functools import reduce

In [31]:
lst = ['amar',' ram',' shyam',' manohar',' karthik']
string = reduce(lambda x,y: x + y , lst)
print(string)

amar ram shyam manohar karthik

Q5. Try to write a lambda function which can return list of square of all the data between 1-100.

In [34]:
print(list(map(lambda x: x**2, [i for i in range(1,101)])), end = " ")

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

Q6. Try to write a 10 Different different example of lambda function with a choice of your tasks.

In [43]:
double = lambda x: x * 2
double(5)

10

In [44]:
square = lambda x: x**2
square(5)

25

Q7. Try to wwrite a funtion whihc can perform a read operation from .txt file.

In [41]:
f = open("test9.txt","r")
f.read()

'You Are Amazing'